<div class="container mt-3">
    <h2>Company List</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Ticker</th>
          <th>Exchange</th>
          <th>ISIN</th>
          <th>Website</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let company of companies">
          <td>{{ company.name }}</td>
          <td>{{ company.ticker }}</td>
          <td>{{ company.exchange }}</td>
          <td>{{ company.isin }}</td>
          <td><a [href]="company.website" target="_blank">{{ company.website }}</a></td>
        </tr>
      </tbody>
    </table>
  </div>


  <div>
    <input type="number" [(ngModel)]="id" placeholder="Enter Company ID">
    <button (click)="getCompanyById()">Get Company by ID</button>
  </div>

  <div>
    <table *ngIf="selectedCompany" class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Ticker</th>
            <th>Exchange</th>
            <th>ISIN</th>
            <th>Website</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ selectedCompany.name }}</td>
            <td>{{ selectedCompany.ticker }}</td>
            <td>{{ selectedCompany.exchange }}</td>
            <td>{{ selectedCompany.isin }}</td>
            <td><a [href]="selectedCompany.website" target="_blank">{{ selectedCompany.website }}</a></td>
          </tr>
        </tbody>
      </table>
  </div>

  <div>
    <h2>Add New Company</h2>
    <div>
      <input type="text" [(ngModel)]="newCompany.name" placeholder="Company Name">
      <input type="text" [(ngModel)]="newCompany.exchange" placeholder="Company Exchange">
      <input type="text" [(ngModel)]="newCompany.isin" placeholder="Company ISIN">
      <input type="text" [(ngModel)]="newCompany.ticker" placeholder="Company Stock Ticker">
      <button (click)="addCompany()">Add Company</button>
    </div>
  </div>